* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
    box-sizing: border-box
    outline:none;
}
header {
    background: rgb(104, 82, 82) ;
    text-align: center;
    height: 100px;
    width: auto;
    font-size: 35px;
}


.sidebar {
    position: fixed;
    left: -250px;
    height: 100%;
    background: rgb(137, 100, 100);
    width: 250px;
    transition: all .5s ease;
}

.sidebar header {
    color: white;
    font-size: 22px;
    text-align: center;
    line-height: 70px;
    user-select: none;
    background: rgb(103, 80, 80);
    padding-right: 60px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul a {
    display: block;
    color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    line-height: 65px;
    border-top: 1px solid rgb(255, 255, 255,.1);
    font-size: 20px;
    padding-left: 40px;
    border-bottom: 1px solid black;
    transition: .4s;
}

ul li:hover a {
    padding-left: 50px;
}

.sidebar ul a i {
    margin-right: 16px;
}

#check {
    display: none;
}

label #btn, label  #cancel {
    position: absolute;
    border-radius: 3px;
    background: rgb(98, 47, 47);
    cursor: pointer;
}

label #btn {
    padding: 6px 12px;
    left: 40px;
    top: 25px;
    color: white;
    font-size: 35px;
    transition: all .5s;
}

label #cancel {
    z-index: 1111;
    font-size: 30px;
    left: -195px;
    padding: 4px 9px;
    top: 17px;
    color: white;
    transition: all .5s ease;
}

#check:checked ~ .sidebar {
    left: 0;
}

#check:checked ~ label #btn {
    opacity: 0;
    left: 250px;
    pointer-events: none;
}

#check:checked ~ label #cancel {
    left: 195px;
}

#check:checked ~ section {
    margin-left: 250px;
}

section {
    height: 100vh;
    background-size: cover;
    background-position: center;   

    background: rgb(235, 224, 224);
    transition: all .5s;
}

img{
    height: 400px;
    width: 350px;
    border-radius: 3px;
    max-width: 350px;
    float: left;
    border-radius: 10px;
    margin-right: 20px;
}



h1{
    margin: 10px;
    font-size: 40px;
}
span{
    font-weight: bold;
}
.card:hover{
    cursor: pointer;
}
.cover:hover .intro{
    height: 220px;
    bottom: 240px;
    background: black;
}
.card:hover img{
    opacity: 1;
    visibility: visible;
}

.card{
    height: 500px;
    margin: 50px;
    box-shadow: 5px 5px 10px black;
    overflow: hidden;
}
.container{
    display: flex;
    width: 90%;
    padding: 20px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    background:whitesmoke ;
    align-items: center;
}
footer{
    background: darkred;
    height: 70px;
    width: auto;
    text-align: center;
}

.navbar{
    background: rgb(125, 57, 57);
    font-family: calibri;
    padding-right: 15px;
    padding-left: 15px;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text h2{
    font-size: 50px;
    padding: 5px;
}
.text p{
    font-size: 15px;
    padding: 6px;
}
.text h4{
    font-size: 20px;
    padding: 5px;
    text-align: right;
    align-items: center;
    margin-left: 40px;
}