* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.sidebar {
    height: 100%;
    position: fixed;
    left: -250px;
    background: brown;
    width: 250px;
    transition: all .5s ease;
}

.sidebar header {
    text-align: center;
    font-size: 22px;
    user-select: none;
    color: white;
    line-height: 70px;
    background: darkgoldenrod;
}

.sidebar ul a {
    display: block;
    color: white;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    line-height: 65px;
    border-top: 1px solid (255, 255, 255,.1);
    font-size: 20px;
    padding-left: 40px;
    border-bottom: 1px solid black;
    transition: .4s;
}

ul li:hover a {
    padding-left: 50px;
}

.sidebar ul a i {
    
}