body{
    front-family:Arial,sans-serif;
    background-color: #0f0f0;
 }
 h1{
     color:#08b851;
 }
 h2{
     color:#d0da1b;
 }
 h3{
     color:rgb(203, 6, 23);
 }
 p{
     color:#f7f9fb;
     font-sixe:16px;
 }
 